In [10]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

In [2]:
data = pd.read_csv('/content/ts_hr_feb_2020.csv', parse_dates=['date'])

data['hour'] = data['date'].dt.hour

In [3]:
data.head()

                 date  sales_value  hour
0 2020-02-01 00:00:00        28.60     0
1 2020-02-01 01:00:00       122.84     1
2 2020-02-01 02:00:00       112.87     2
3 2020-02-01 03:00:00       357.20     3
4 2020-02-01 04:00:00       642.56     4

#1ยบ

In [4]:
T = []
for i in range(data.shape[0]):
  f = data.iloc[i][['date', 'hour']]

  f['sin_hour'] = np.sin(2*np.pi*f['hour']/24)
  f['cos_hour'] = np.cos(2*np.pi*f['hour']/24)

  T.append(f)
T = pd.DataFrame(T)

In [9]:
T

                   date  hour  sin_hour  cos_hour
0   2020-02-01 00:00:00     0  0.000000  1.000000
1   2020-02-01 01:00:00     1  0.258819  0.965926
2   2020-02-01 02:00:00     2  0.500000  0.866025
3   2020-02-01 03:00:00     3  0.707107  0.707107
4   2020-02-01 04:00:00     4  0.866025  0.500000
..                  ...   ...       ...       ...
691 2020-02-29 20:00:00    20 -0.866025  0.500000
692 2020-02-29 21:00:00    21 -0.707107  0.707107
693 2020-02-29 22:00:00    22 -0.500000  0.866025
694 2020-02-29 23:00:00    23 -0.258819  0.965926
695 2020-03-01 00:00:00     0  0.000000  1.000000

[696 rows x 4 columns]

#2ยบ

In [6]:
def sin_hour_encoding(value):

    enc_sin_hour = np.sin(2*np.pi*value/24)

    return enc_sin_hour

def cos_hour_encoding(value):

    enc_cos_hour = np.cos(2*np.pi*value/24)

    return enc_cos_hour

In [7]:
data['sin_hour'] = data['hour'].map(sin_hour_encoding)
data['cos_hour'] = data['hour'].map(cos_hour_encoding)

In [8]:
data

                   date  sales_value  hour  sin_hour  cos_hour
0   2020-02-01 00:00:00        28.60     0  0.000000  1.000000
1   2020-02-01 01:00:00       122.84     1  0.258819  0.965926
2   2020-02-01 02:00:00       112.87     2  0.500000  0.866025
3   2020-02-01 03:00:00       357.20     3  0.707107  0.707107
4   2020-02-01 04:00:00       642.56     4  0.866025  0.500000
..                  ...          ...   ...       ...       ...
691 2020-02-29 20:00:00      1171.21    20 -0.866025  0.500000
692 2020-02-29 21:00:00      1929.69    21 -0.707107  0.707107
693 2020-02-29 22:00:00       944.05    22 -0.500000  0.866025
694 2020-02-29 23:00:00       586.00    23 -0.258819  0.965926
695 2020-03-01 00:00:00       270.72     0  0.000000  1.000000

[696 rows x 5 columns]